<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Medium style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class="container">
        <ul class='nav navbar-nav'>
          <li><a class='navbar-brand bigband' href="{% url 'post_list' %}">My Blog</a></li>
          <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li> <a class="nav-link" href="https://www.github.com">GitHub</a> </li>
          <li> <a class="nav-link" href="https://www.linkedin.com">LinkedIn</a> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'logout' %}?next={% url 'post_list' %}">Logout</a>
            </li>
            <li>
              <a class='nav-link'>Welcome: {{ user.username }}</a>
            </li>
          {% else %}
           <li> <a class="nav navbar-right" href="{% url 'login' %}"> Login <span class="glyphicon glyphicon-user"> </span> </a> </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="content container">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
